<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="empNamespace">
	
	<resultMap type="zjx.login.entity.Emp" id="empMap">
		<result property="name" column="ename"/>
		<result property="password" column="epassword"/>
	</resultMap>	
	
	<!-- 登录模块 -->
	<select id="login" parameterType="zjx.login.entity.Emp" resultType="zjx.login.entity.Emp">
		select ename as name, epassword as password from emps where ename = #{name}
	</select>
	
</mapper>









