<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="noteNamespace">
	
	<resultMap type="zjx.login.entity.Note" id="noteMap">
	    <id property="id1" column="id"/>
		<result property="name1" column="name"/>
		<result property="subject1" column="subject"/>
	</resultMap>	
	
	<!-- 根据名字查询左右 -->
	<select id="findAllByName" parameterType="zjx.login.entity.Emp" resultType="zjx.login.entity.Note">
		select id as id1,name as name1, subject as subject1 from notes where name = #{name}
	</select>
	
	<insert id="create" parameterType="zjx.login.entity.Note">
		insert into notes(subject,name) values(#{subject1},#{name1})
	</insert>
	
	<delete id="del" parameterType="zjx.login.entity.Note">
	    delete from notes where name = #{name1} and subject = #{subject1}
 	</delete>
	
	<select id="findId" parameterType="zjx.login.entity.Note" resultType="zjx.login.entity.Note">
		select id as id1 from notes where name = #{name1} and subject = #{subject1} 
	</select>
	
	<update id="delete1" parameterType="zjx.login.entity.Note">
		update notes set subject = #{subject1} where id = #{id1} 
	</update>
	
</mapper>









